.cardImg {
	height: 175px;
	width: 175px;
	padding: 0;
}
.f4 { margin-bottom: 0; }
p { margin: 5px 0 10px 0; }
ul {
	margin: 5px;
	padding: 0;
}
li {
	border-radius: 8px;
	padding: 3px 5px;
	margin: 0 5px;
	display: inline;
}

.grass { background-color: #77CC55; }
.poison { background-color: #AA5599; }
.fire { background-color: #FF4422; }
.flying { background-color: #8899FF; }
.water { background-color: #3399FF; }
.dragon { background-color: #7766EE; }
.bug { background-color: #AABB22; }
.normal { background-color: #AAAA99; }
.dark { background-color: #775544; }
.electric { background-color: #FFCC33; }
.psychic { background-color: #FF5599; }
.ground { background-color: #DDBB55; }
.steel { background-color: #3399FF; }
.fairy { background-color: #FF5599; }
.ice { background-color: #66CCFF; }
.fighting { background-color: #BB5544; }
.rock { background-color: #BBAA66; }
.ghost { background-color: #6666BB; }